<div class="row">
    <%if(lists.length){%>
    <h2 class="text-center col-12">TODO</h2>
    <%}%>
        <% lists.forEach(item =>{%>
    <div class="card my-1 p-1  col-12 col-md-6 ">
        <div class="border border-dark">
            <%if(item.title){%>
            <h3 class="card-title text-truncate text-center"><%= item.title%></h3>
            <%}%>
            <ol class="list-group list-group-flush px-4 py-2">
                <%item.text.forEach(item => {%>
            <li class="list-group-item border-0 px-2 py-0 text-break text-truncate dot <%= item.status%>">
                <%= item.text%></li>
            <%})%>
            </ol>
            <button type="button" class="view-list-btn btn btn-secondary d-block mt-auto mb-3 w-25 mx-auto"
                data-id="<%= item._id%>">View</button>
        </div>
    </div>
    <%})%>
</div>

<div class="row">
    <%if(notes.length){%>
    <h2 class="text-center col-12">Notes</h2>
    <%}%>
        <% notes.forEach(item => {%>
    <div class="card my-1 p-1 col-12 col-md-6">
        <div class="card-body border border-dark">
            <% if(item.title){%>
            <h5 class="card-title text-center"><%= item.title%></h5>
            <%}%>
                <p class="card-text text-truncate"><%= item.text%></p>
            <button type="button" class="btn btn-secondary d-block note-view-btn w-25 mx-auto mt-auto"
                data-id="<%= item._id%>">View</button>
        </div>
    </div>
    <% })%>
</div>